<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lhb.gdms.consumer.blog.mapper.SysArticleMapper">
    <resultMap id="sysArticleMap1" type="lhb.gdms.commons.domain.entity.SysArticleEntity">
        <id column="article_id" property="articleId" />
        <result column="article_title" property="articleTitle" />
        <result column="article_content" property="articleContent" />
        <result column="article_type" property="articleType" />
        <result column="article_browse_sum" property="articleBrowseSum" />
        <result column="article_img_url" property="articleImgUrl" />
        <result column="article_img_key" property="articleImgKey" />
        <result column="sys_user_id" property="sysUserId" />
        <result column="label_id" property="labelId" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

    <!-- 添加 -->
    <insert id="insertData" useGeneratedKeys="true" keyColumn="article_id" keyProperty="articleId">
        INSERT INTO sys_article
            (
             article_title,
             article_content,
             article_type,
             article_browse_sum,
             article_img_url,
             article_img_key,
             sys_user_id,
             label_id,
             created,
             updated
            ) VALUES
            (
             #{entity.articleTitle},
             #{entity.articleContent},
             #{entity.articleType},
             0,
             #{entity.articleImgUrl},
             #{entity.articleImgKey},
             #{entity.sysUserId},
             #{entity.labelId},
             #{entity.created},
             #{entity.updated}
            )
    </insert>

    <!-- 根据id查看单个文章详情 -->
    <select id="getArticleListById" resultMap="sysArticleMap1">
        SELECT * FROM sys_article
        WHERE article_id = #{articleId}
    </select>

    <!-- 查询文章相关详情用于收藏集模块 -->
    <select id="getArticlesDetailsToCollection" resultType="java.util.HashMap">
        SELECT
            article_id AS articleId,
            article_title AS articleTitle,
            article_content AS articleContent,
            article_type AS articleType,
            article_browse_sum AS articleBrowseSum,
            article_img_url AS articleImgUrl,
            article_img_key AS articleImgKey,
            sys_user_id AS sysUserId,
            a.label_id AS labelId,
            b.label_name AS labelName,
            a.created AS created,
            a.updated AS updated
        FROM sys_article AS a, sys_label AS b
        WHERE a.label_id = b.label_id
        AND article_id = #{articleId}
    </select>

    <!-- 查询该标签下有多少文章 -->
    <select id="getLabelArticleCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_article
        WHERE label_id = #{labelId}
    </select>

    <!-- 根据标签id查看文章详情 -->
    <select id="getArticleDetailsByLabelId" resultType="java.util.HashMap">
        SELECT article_id AS articleId,
               article_title AS articleTitle,
               article_content AS articleContent,
               article_type AS articleType,
               article_browse_sum AS articleBrowseSum,
               article_img_url AS articleImgUrl,
               article_img_key AS articleImgKey,
               sys_user_id AS sysUserId,
               label_id AS labelId,
               created,
               updated
        FROM sys_article
        WHERE label_id = #{labelId}
    </select>
</mapper>