<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lhb.gdms.consumer.blog.mapper.SysCollectionMapper">
    <resultMap id="sysCollectionMap1" type="lhb.gdms.commons.domain.entity.SysCollectionEntity">
        <id column="sys_collection_id" property="sysCollectionId" />
        <result column="sys_collection_name" property="sysCollectionName" />
        <result column="sys_user_id" property="sysUserId" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>
    <!-- 收藏集数据二次查询 -->
    <resultMap id="sysCollectionMap2" type="java.util.HashMap">
        <id column="sys_collection_id" property="sysCollectionId" />
        <result column="sys_collection_name" property="sysCollectionName" />
        <result column="sys_user_id" property="sysUserId" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
        <collection property="articles" column="sys_collection_id"
            ofType="java.util.HashMap" select="selectCollectionArticleCount">
            <result column="article_count" property="articleCount" />
        </collection>
    </resultMap>

    <!-- 添加 -->
    <insert id="insert">
        INSERT INTO sys_collection
            (
             sys_collection_name,
             sys_user_id,
             created,
             updated
            ) VALUES
            (
             #{entity.sysCollectionName},
             #{entity.sysUserId},
             #{entity.created},
             #{entity.updated}
            )
    </insert>

    <!-- 校验收藏集名称是否重复-编辑 -->
    <select id="checkNameByIdToUpdate" resultType="java.lang.String">
        SELECT DISTINCT sys_collection_name
        FROM sys_collection
        WHERE sys_user_id = #{sysUserId}
        AND sys_collection_name = #{sysCollectionName}
        AND sys_collection_id &lt;&gt; ${sysCollectionId}
    </select>

    <!-- 校验收藏集名称是否重复-新增 -->
    <select id="checkNameByIdToInsert" resultType="java.lang.String">
        SELECT DISTINCT sys_collection_name
        FROM sys_collection
        WHERE sys_collection_name = #{sysCollectionName}
        AND sys_user_id = #{sysUserId}
    </select>

    <!-- 修改 -->
    <update id="update">
        UPDATE sys_collection
        SET sys_collection_name = #{entity.sysCollectionName}
        WHERE sys_collection_id = #{entity.sysCollectionId}
    </update>

    <!-- 查询列表全部信息 -->
    <select id="getCollectionLists" resultMap="sysCollectionMap2">
        SELECT * FROM sys_collection
        WHERE sys_user_id = #{sysUserId}
        ORDER BY created DESC
    </select>
    <!-- 二次查询每条收藏集里面收藏的文章数量 -->
    <select id="selectCollectionArticleCount" resultMap="sysCollectionMap2">
        SELECT COUNT(*) AS articleCount
        FROM sys_article_collection
        WHERE sys_collection_id = #{sysCollectionId}
    </select>

    <!-- 根据id查看单条收藏集列表 -->
    <select id="getCollectionListById" resultMap="sysCollectionMap1">
        SELECT * FROM sys_collection
        WHERE sys_collection_id = #{sysCollectionId}
        AND sys_user_id = #{sysUserId}
    </select>

    <!-- 删除 -->
    <delete id="deleteOneByKeyWord">
        DELETE FROM sys_collection
        WHERE sys_collection_id = #{entity.sysCollectionId}
        AND sys_user_id = #{entity.sysUserId}
    </delete>

    <!-- 查询当前用户的收藏集并且用于文章详情判断当前文章是否被收藏 -->
    <select id="getCollectionListsBySysUserId" resultType="java.util.HashMap">
        SELECT sys_collection_id AS sysCollectionId,
               sys_collection_name AS sysCollectionName,
               sys_user_id AS sysUserId,
               created,
               updated
        FROM sys_collection
        WHERE sys_user_id = #{sysUserId}
        ORDER BY updated DESC
    </select>

    <!-- 获取收藏集下的文章数量 -->
    <select id="getCollectionArticleCount" resultType="java.lang.Integer">
        SELECT COUNT(*) AS articleCount
        FROM sys_article_collection
        WHERE sys_collection_id = #{sysCollectionId}
    </select>

    <!-- 根据用户id查询用户创建的收藏集总数 -->
    <select id="getHomeUserCollectionCountAll" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM sys_collection
        WHERE sys_user_id = #{sysUserId}
    </select>

</mapper>