<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lhb.gdms.consumer.blog.mapper.SysLabelMapper">
    <resultMap id="map1" type="lhb.gdms.commons.domain.entity.SysLabelEntity">
        <id column="label_id" property="labelId"/>
        <result column="label_name" property="labelName"/>
        <result column="label_icon_url" property="labelIconUrl"/>
        <result column="label_icon_key" property="labelIconKey"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>

    <!-- 查询所有标签 -->
    <select id="selectAllLabelLists" resultType="java.util.HashMap">
        SELECT label_id AS labelId,
               label_name AS labelName,
               label_icon_url AS labelIconUrl,
               label_icon_key AS labelIconKey,
               created AS created,
               updated AS updated
        FROM sys_label
        WHERE 1=1
        <if test="keyWord != null and keyWord != ''">
            AND label_name LIKE CONCAT(CONCAT('%', #{keyWord}), '%')
        </if>
    </select>

    <select id="select" resultMap="map1">
        SELECT * FROM sys_label
    </select>

    <!-- 查询当前登录用户关注的标签 -->
    <select id="getLabelFocusLists" resultType="java.util.HashMap">
        SELECT
            sys_label_focus_id AS sysLabelFocusId,
            a.label_id AS labelId,
            label_name AS labelName,
            label_icon_url AS labelIconUrl,
            label_icon_key AS labelIconKey,
            a.created AS created,
            a.updated AS updated
        FROM sys_label AS a,sys_label_focus AS b
        WHERE a.label_id = b.label_id
        AND sys_user_id = #{sysUserId}
        ORDER BY sys_label_focus_id DESC
    </select>

    <!-- 根据id查看标签详情 -->
    <select id="getLabelInfoById" resultMap="map1">
        SELECT * FROM sys_label
        WHERE label_id = #{labelId}
    </select>
</mapper>