<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lhb.gdms.consumer.blog.mapper.SysUserMapper">

    <resultMap id="sysUserMap1" type="lhb.gdms.commons.domain.entity.SysUserEntity">
        <id column="sys_user_id" property="sysUserId"/>
        <result column="sys_user_nickname" property="sysUserNickname" />
        <result column="sys_user_phone" property="sysUserPhone" />
        <result column="sys_user_email" property="sysUserEmail" />
        <result column="sys_user_area_code" property="sysUserAreaCode" />
        <result column="sys_user_sex" property="sysUserSex" />
        <result column="sys_user_status" property="sysUserStatus" />
        <result column="sys_user_username" property="sysUserUsername" />
        <result column="sys_user_password" property="sysUserPassword" />
        <result column="sys_user_type" property="sysUserType" />
        <result column="sys_user_icon" property="sysUserIcon" />
        <result column="sys_user_key" property="sysUserKey" />
        <result column="sys_user_introduction" property="sysUserIntroduction" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

    <!-- 根据id查询用户信息，不包括年月日 -->
    <select id="selectOneById" resultMap="sysUserMap1">
        SELECT DISTINCT sys_user_id,
                        sys_user_nickname,
                        sys_user_phone,
                        sys_user_email,
                        sys_user_area_code,
                        sys_user_sex,
                        sys_user_status,
                        sys_user_username,
                        sys_user_password,
                        sys_user_type,
                        sys_user_icon,
                        sys_user_key,
                        sys_user_introduction
        FROM sys_user WHERE sys_user_id = ${entity.sysUserId}
        AND sys_user_status = 1
        AND sys_user_type = 1
    </select>

    <!-- 门户网站个人中心-修改用户基础信息 -->
    <update id="update">
        UPDATE sys_user SET updated = #{entity.updated}
        <if test="entity.sysUserNickname != null and entity.sysUserNickname != ''">
            ,sys_user_nickname = #{entity.sysUserNickname}
        </if>
        <if test="entity.sysUserSex != null and entity.sysUserSex != ''">
            ,sys_user_sex = #{entity.sysUserSex}
        </if>
        <if test="entity.sysUserEmail != null and entity.sysUserEmail != ''">
            ,sys_user_email = #{entity.sysUserEmail}
        </if>
        <if test="entity.sysUserPhone != null and entity.sysUserPhone != ''">
            ,sys_user_phone = #{entity.sysUserPhone}
        </if>
        <if test="entity.sysUserIntroduction != null and entity.sysUserIntroduction != '该用户很懒，没有写简介'">
            ,sys_user_introduction = #{entity.sysUserIntroduction}
        </if>
        WHERE sys_user_id = #{entity.sysUserId}
    </update>

    <!-- 根据id查询用户昵称 -->
    <select id="findNicknameById" resultType="java.lang.String">
        SELECT sys_user_nickname
        FROM sys_user
        WHERE sys_user_id = #{sysUserId}
        AND sys_user_status = 1
        AND sys_user_type = 1
    </select>

    <!-- 根据用户id查询用户详情 -->
    <select id="getUserInfoByUserId" resultMap="sysUserMap1">
        SELECT * FROM sys_user
        WHERE sys_user_id = #{sysUserId}
        AND sys_user_status = 1
        AND sys_user_type = 1
    </select>

    <!-- 获取主页用户信息通过用户id -->
    <select id="getHomeUserInfoById" resultType="java.util.HashMap">
        SELECT  sys_user_id AS sysUserId,
                sys_user_nickname AS sysUserNickname,
                sys_user_phone AS sysUserPhone,
                sys_user_email AS sysUserEmail,
                sys_user_area_code AS sysUserAreaCode,
                sys_user_sex AS sysUserSex,
                sys_user_status AS sysUserStatus,
                sys_user_username AS sysUserUsername,
                sys_user_type AS sysUserType,
                sys_user_icon AS sysUserIcon,
                sys_user_key AS sysUserKey,
                sys_user_introduction AS sysUserIntroduction,
                created,
                updated
        FROM sys_user
        WHERE sys_user_id = #{sysUserId}
        AND sys_user_status = 1
        AND sys_user_type = 1
    </select>

    <!-- 用户主页动态数据 -->
    <select id="getHomeDynamicInfo" resultType="java.util.HashMap">
        (
            SELECT a.form_sys_user_id AS id,
                   b.sys_user_nickname AS `name`,
                   a.created AS created,
                   'user' AS type
            FROM sys_user_focus a
            LEFT JOIN sys_user b
            ON a.form_sys_user_id = b.sys_user_id
            WHERE a.sys_user_id = #{userId}
            AND sys_user_status = 1
            AND sys_user_type = 1
        ) UNION ALL
        (
            SELECT a.label_id AS id,
                   b.label_name AS `name`,
                   a.created AS created,
                   'label' AS type
            FROM sys_label_focus a
            LEFT JOIN sys_label b
            ON a.label_id = b.label_id
            WHERE sys_user_id = #{userId}
        )
        ORDER BY created DESC
    </select>

    <!-- 搜索用户 -->
    <select id="searchUserLists" resultType="java.util.HashMap">
        SELECT sys_user_id AS sysUserId,
               sys_user_nickname AS sysUserNickname,
               sys_user_icon AS sysUserIcon,
               created AS created,
               updated AS updated
        FROM sys_user
        WHERE sys_user_nickname LIKE CONCAT(CONCAT('%', #{sysUserNickname}), '%')
        AND sys_user_type = 1
        AND sys_user_status = 1
        ORDER BY created DESC
    </select>

    <!-- 重置密码 -->
    <update id="resetPassword">
        UPDATE sys_user
        SET sys_user_password = #{entity.sysUserPassword},
            updated = #{entity.updated}
        WHERE sys_user_id = #{entity.sysUserId}
    </update>

    <!-- 通过手机号码查询用户信息 -->
    <select id="getUserInfoByPhone" resultMap="sysUserMap1">
        SELECT * FROM sys_user
        WHERE sys_user_phone = #{phone}
    </select>

    <!-- 通过邮箱号码查询用户信息 -->
    <select id="getUserInfoByEmail" resultMap="sysUserMap1">
        SELECT * FROM sys_user
        WHERE sys_user_email = #{email}
    </select>
</mapper>